.base {
    padding: 16px 68px;
    font-size: 24px;
    font-weight: 700;
    background-color: #FFA800;
    border: 1px solid #FFA800;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s;
}

.base:hover {
    box-shadow: 0 4px 4px 0 #00000040;
}

.base:active {
    color: #FFA800;
    background-color: transparent;
    box-shadow: 0 4px 4px 2px #00000040,
          inset 0 4px 4px 2px #00000040;
    text-shadow: 0 2px 4px #00000040;
}

.white {
    color: #ffffff;
}

.mini {
    padding: 6px 25px;
    color: #ffffff;
}

.transparent {
    padding: 6px 25px;
    border: 1px solid #292929;
    background-color: transparent;
}

.transparent:hover {
    color: #FFA800;
    box-shadow: 0 4px 4px 2px #00000040,
          inset 0 4px 4px 2px #00000040;
    text-shadow: 0 2px 4px #00000040;
}

.transparent:active {
    color: #292929;
    background-color: #FFA800;
    border: 1px solid #FFA800;
    box-shadow: 0 4px 4px 0 #00000040;
}

.disable {
    color: #ffffff;
    background-color: #928F94;
    border: 1px solid #928F94;
    cursor: auto;
}

.disable:hover {
    box-shadow: none;
}

.disable:active {
    color: #ffffff;
    background-color: #928F94;
    box-shadow: none;
    text-shadow: none;
}